@import "colors";

.navBar{
    width: 100%;
    background-color: $first;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 10;

    >h1{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    >main{
        width: 70%;
        display: flex;
        justify-content: flex-end;
        >a{
            margin: 1rem;
            color: $dark;
        }
        &hover{
            color: $third;
        }
    }
}